{
  "extends": [
    "oclif",
    "oclif-typescript",
    "prettier"
  ],
  "rules": {
    "no-warning-comments": "off",
    "spaced-comment": [
      "warn",
      "always",
      {
        "markers": [
          "-",
          "+",
          "TODO:",
          "BUG:",
          "FIXME:",
          "!",
          "^",
          "$",
          "%",
          "~",
          "`"
        ]
      }
    ],
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ]
  }
}
